.sidebar {
    width: 25%;
    height:calc( 100vh - 53px);
    background-color: #f6f6f6;
}

.sidebar ul {
    list-style: none;
}
.sidebar a {
    display: block;
    padding: 7px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}